### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Database:

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. Databases are managed by a Database Management System (DBMS), which allows users to interact with the data using various querying and manipulation techniques.

#### Differences Between SQL and NoSQL Databases

| Feature                | SQL Databases                             | NoSQL Databases                          |
|------------------------|-------------------------------------------|------------------------------------------|
| **Data Model**         | Relational (tables with rows and columns) | Non-relational (document, key-value, wide-column, graph) |
| **Schema**             | Fixed schema with predefined structure    | Flexible schema, schema-less             |
| **Query Language**     | Structured Query Language (SQL)           | Varies (e.g., MongoDB uses MQL, Cassandra uses CQL) |
| **Scalability**        | Vertically scalable (add more power to existing servers) | Horizontally scalable (add more servers) |
| **Transactions**       | ACID (Atomicity, Consistency, Isolation, Durability) | BASE (Basically Available, Soft state, Eventual consistency) |
| **Use Cases**          | Complex queries, structured data, transactional systems | Big data, real-time analytics, unstructured or semi-structured data |
| **Examples**           | MySQL, PostgreSQL, Oracle Database        | MongoDB, Cassandra, Redis, Couchbase     |

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### DDL:

DDL stands for **Data Definition Language**, a subset of SQL used to define and manage database structures such as schemas, tables, indexes, and relationships. DDL statements are used to create, modify, and delete database objects.

#### Common DDL Commands:

1. **CREATE:** Used to create new database objects such as tables, indexes, or schemas.
2. **DROP:** Used to delete existing database objects.
3. **ALTER:** Used to modify existing database objects.
4. **TRUNCATE:** Used to delete all rows from a table quickly without logging individual row deletions.

#### Examples

#### CREATE
```sql
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(100),
    salary DECIMAL(10, 2)
);
```
- **Purpose:** Creates a new table named `employees` with columns `id`, `name`, `position`, and `salary`.

#### DROP
```sql
DROP TABLE employees;
```
- **Purpose:** Deletes the `employees` table and all its data from the database.

#### ALTER
```sql
ALTER TABLE employees ADD COLUMN hire_date DATE;
```
- **Purpose:** Adds a new column `hire_date` to the `employees` table.

#### TRUNCATE
```sql
TRUNCATE TABLE employees;
```
- **Purpose:** Removes all rows from the `employees` table, but keeps the table structure for future use.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### DML:

DML stands for **Data Manipulation Language**, a subset of SQL used to manage and manipulate data within database tables. DML commands allow you to insert, update, delete, and retrieve data from a database.

#### Common DML Commands:

1. **INSERT:** Adds new rows of data to a table.
2. **UPDATE:** Modifies existing data within a table.
3. **DELETE:** Removes rows of data from a table.

#### Examples

#### INSERT
```sql
INSERT INTO employees (id, name, position, salary) 
VALUES (1, 'John Doe', 'Software Engineer', 75000);
```
- **Purpose:** Adds a new row to the `employees` table with the specified values for `id`, `name`, `position`, and `salary`.

#### UPDATE
```sql
UPDATE employees 
SET salary = 80000 
WHERE id = 1;
```
- **Purpose:** Modifies the `salary` of the employee with `id` 1 to 80000 in the `employees` table.

#### DELETE
```sql
DELETE FROM employees 
WHERE id = 1;
```
- **Purpose:** Removes the row from the `employees` table where the `id` is 1.

### Q4. What is DQL? Explain SELECT with an example.

#### DQL:

DQL stands for **Data Query Language**, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands are primarily focused on querying and fetching data from tables based on specified criteria.

#### SELECT Command:

The `SELECT` statement is the primary command used in DQL to retrieve data from one or more tables in a database.

#### Syntax of SELECT Statement:

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

### Q5. Explain Primary Key and Foreign Key.

### Primary Key

- **Definition:** A Primary Key is a column or a set of columns in a table that uniquely identifies each row in that table. It must contain unique values and cannot have NULL values.
- **Purpose:**
  - **Uniqueness:** Ensures that each row in a table can be uniquely identified.
  - **Indexing:** Automatically creates a clustered index on the primary key column(s), which can improve query performance.
- **Example:** In a `students` table, `student_id` can be designated as the primary key because each student has a unique ID.

### Foreign Key

- **Definition:** A Foreign Key is a column or a set of columns in one table that refers to the Primary Key in another table. It establishes a link between two tables.
- **Purpose:**
  - **Referential Integrity:** Ensures that relationships between tables are maintained by enforcing referential integrity constraints.
  - **Joins:** Allows you to join related tables together to retrieve data.
- **Example:** In a `orders` table, `customer_id` might be a foreign key that references the `customer_id` primary key in a `customers` table, linking each order to a specific customer.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### Connecting MySQL to Python

To connect MySQL to Python, you can use the `mysql-connector-python` package, which provides a MySQL driver for Python.

Python code snippet to connect to MySQL and perform a simple query:

```python
import mysql.connector

# Establishing a connection to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Creating a cursor object using cursor() method
mycursor = mydb.cursor()

# Using execute() method to execute a SQL query
mycursor.execute("SELECT * FROM yourtable")

# Fetching all rows from the result set
results = mycursor.fetchall()

# Printing each row
for row in results:
    print(row)

# Closing the cursor and connection
mycursor.close()
mydb.close()
```



#### `cursor()` and `execute()` Method Explanation:

- **`cursor()` Method:**
  - The `cursor()` method creates a cursor object that allows you to execute SQL queries on the database. It's invoked on the connection object (`mydb` in this case).
  
- **`execute()` Method:**
  - The `execute()` method of the cursor object (`mycursor`) is used to execute SQL queries. You pass the SQL query as a string parameter to this method. It can execute any SQL statement supported by MySQL (e.g., `SELECT`, `INSERT`, `UPDATE`, `DELETE`).

### Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the order of execution of clauses in a query generally follows a standard sequence, although the exact behavior can vary slightly depending on the DBMS implementation. Here is the typical order of execution:

1. **FROM:** Specifies the tables or views from which data will be retrieved.
2. **WHERE:** Filters rows based on specified conditions.
3. **GROUP BY:** Groups rows that have the same values into summary rows.
4. **HAVING:** Filters groups based on specified conditions (used with `GROUP BY`).
5. **SELECT:** Retrieves the columns specified from the result set.
6. **DISTINCT:** Removes duplicate rows from the result set.
7. **ORDER BY:** Sorts the rows in the result set based on specified criteria.
8. **LIMIT/OFFSET:** Limits the number of rows returned and optionally specifies a starting point for returning rows.

### Example:

```sql
SELECT column1, column2
FROM table_name
WHERE condition
GROUP BY column1
HAVING count(*) > 1
ORDER BY column2 DESC
LIMIT 10 OFFSET 5;
```