### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

series = pd.Series(my_list)

print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

### Q3. Create a Pandas DataFrame-

In [3]:
import pandas as pd

# Creating a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Converting the dictionary to a DataFrame
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#### DataFrame in Pandas

A `DataFrame` in Pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It can be thought of as a collection of `Series` objects that share the same index.

#### Series in Pandas

A `Series` in Pandas is a one-dimensional array-like object containing a sequence of values and an associated array of data labels, called its index. 

#### Key Differences

1. **Dimensions**:
   - `Series`: One-dimensional.
   - `DataFrame`: Two-dimensional.

2. **Data Structure**:
   - `Series`: Similar to a single column in a table.
   - `DataFrame`: Similar to a table with multiple columns.

3. **Homogeneity**:
   - `Series`: Can hold any data type (integers, strings, floats, etc.).
   - `DataFrame`: Can hold multiple data types across different columns.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#### Common Functions for Manipulating Data in Pandas DataFrame:

1. **`head()` and `tail()`**: Display the first or last few rows.
2. **`info()`**: Get a concise summary of the DataFrame.
3. **`describe()`**: Generate descriptive statistics.
4. **`drop()`**: Remove rows or columns.
5. **`dropna()`**: Remove missing values.
6. **`fillna()`**: Fill missing values with a specified value.
7. **`groupby()`**: Group the DataFrame using a mapper or by a Series of columns.
8. **`apply()`**: Apply a function along an axis of the DataFrame.
9. **`merge()`**: Merge DataFrames using a database-style join.
10. **`pivot_table()`**: Create a spreadsheet-style pivot table as a DataFrame.

In [6]:
# Example Use Case: Cleaning Data with 'dropna()'
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David'],
    'Age': [25, 30, None, 22],
    'Email': ['alice@example.com', None, 'claire@example.com', 'david@example.com']
}

df = pd.DataFrame(data)

# Remove rows with missing values
df.dropna(inplace=True)
print(df)

    Name   Age              Email
0  Alice  25.0  alice@example.com
3  David  22.0  david@example.com

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both Pandas **Series** and **DataFrame** are mutable in nature, meaning you can modify their content after they are created.

However, **Panel** is deprecated and no longer used in modern versions of Pandas. In older versions, Panel was also mutable.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
import pandas as pd

# Create individual Series
names = pd.Series(["Alice", "Bob", "Claire"])
ages = pd.Series([25, 30, 27])
genders = pd.Series(["Female", "Male", "Female"])

# Combine Series into a DataFrame
data = {
    "Name": names,
    "Age": ages,
    "Gender": genders
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female